<<<<<<< HEAD
<<<<<<< HEAD
.apple{font-size:10em;}

.boat{color: #00F;}
=======
.apple{font-size:11em;}

.boat{color: #0f0;}

>>>>>>> master


.logo{font-size:;}
=======
h1 { font-size: 3.5em; }
h1,h2,h3 {color: #222;}
p { font-size: 18px; line-height: 1.6em; color: #333;}
>>>>>>> master


